.panel {
  border: 1px solid var(--background-color-2);
  background-color: var(--background-color-2);
  border-radius: 8px;
  overflow: hidden;
  padding: 7px;
  padding-right: 12px;
  font-size: 0.9rem;
  box-shadow: var(--box-shadow);
  color: var(--text-color);
  font-weight: 600;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

  min-height: 27px;

  &.outlined {
    background-color: var(--background-color);
  }

  &.dark {
    background-color: var(--text-color);
    color: var(--background-color);
    border-color: var(--text-color);
  }

  &.accent {
    background-color: var(--accent-color);
    color: var(--background-color);
    border-color: var(--accent-color);
  }

  &.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &.button {
    transition: var(--transition);

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    &:active {
      scale: 0.98;
    }
  }
}
