main {
  display: flex;
  flex-direction: row;
  width: calc(100vw - 381px);
  margin-left: 284px;
  padding: 57px 40px;
  min-height: calc(100vh - 114px);

  background-color: #fafafa;

  &.mobile {
    width: calc(100vw - 40px);
    margin: 0;
    padding: 20px 20px;
    margin-top: 74px;
  }
}
