.divider {
  background-color: rgba(0, 0, 0, 0.2);

  &.horizontal {
    height: 1px;
    width: 100%;
  }

  &.vertical {
    width: 1px;
    height: 100%;
  }

  &.dark {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
