@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --accent-color: #f97c12;
  --text-color: #696969;
  --text-color-2: rgb(182, 182, 182);
  --background-color: white;
  --background-color-2: #dbdbdb;

  --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  --font-family: Inter, sans-serif;

  --transition: 0.2s all ease-in-out;
}

body {
  margin: 0;
  padding: 0;

  font-family: var(--font-family);

  background-color: #fafafa;
}

input {
  font-family: var(--font-family);
}

.flex-row {
  display: flex;
  flex-direction: row;
}
